<section id="sobre-mi" class="about-section container py-5">
  <h2 class="about-title text-center mb-4">{{ ts.t('about.title') }}</h2>
  <div class="about-content row justify-content-center align-items-center">
    <div class="about-photo-container col-12 col-sm-4 d-flex justify-content-center mb-3 mb-sm-0">
      <img class="about-photo img-fluid rounded-circle" src="fotoMarc.jpg" alt="Profile">
    </div>
    <div class="about-text col-12 col-sm-6">
      <h3>{{ ts.t('about.subtitle') }}</h3>
      <p>{{ ts.t('about.p1') }}</p>
      <p [innerHTML]="ts.t('about.p2')"></p>
      <p>{{ ts.t('about.p3') }}</p>
      <scroller-carrousel></scroller-carrousel>
    </div>
  </div>

  <div class="floating-elements">
    <div class="floating-element"></div>
    <div class="floating-element"></div>

    <div class="floating-element"></div>
    <div class="floating-element"></div>
    <div class="floating-element"></div>

  </div>
</section>