<div class="scroller" data-speed="fast">
  <ul class="tag-list scroller__inner">
    <li><i class="fab fa-html5"></i> HTML</li>
    <li><i class="fab fa-css3-alt"></i> CSS</li>
    <li><i class="fab fa-js"></i> JS</li>
    <li><i class="fas fa-rocket"></i> SSG</li>
    <li><i class="fas fa-laptop-code"></i> webdev</li>
    <li><i class="fas fa-wave-square"></i> animation</li>
    <li><i class="fas fa-pencil-ruler"></i> UI/UX</li>
  </ul>
</div>
<div class="scroller" data-speed="fast" data-direction="right">
  <ul class="tag-list scroller__inner">
    <li><i class="fab fa-angular"></i> TypeScript</li>
    <li><i class="fab fa-sass"></i> SASS/SCSS</li>
    <li><i class="fab fa-node-js"></i> Node.js</li>
    <li><i class="fab fa-figma"></i> Figma</li>
    <li><i class="fab fa-git-alt"></i> Git</li>
    <li><i class="fas fa-vial"></i> Testing</li>
    <li><i class="fas fa-tachometer-alt"></i> Performance</li>
  </ul>
</div>
